@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: fa;
  src: url("../app/fonts/Roobert1.ttf");
}

@font-face {
  font-family: fa2;
  src: url("../app/fonts/Roobert2.ttf");
}

* {
  box-sizing: border-box;
}

::selection {
  color: #1a1b1c;
  background: rgba(128, 128, 128, 0.274);
}

::placeholder {
  color: #1a1b1c;
}

.iconButton {
  flex-shrink: 0;
  height: var(24px);
  width: var(24px);
}

.main,
.__next {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  z-index: inherit;
  height: 100vh;
}

.page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-bottom: 36px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 2560px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

.index-content {
  display: contents;
}

.index-title-container {
  margin: auto;
  text-align: center;
  z-index: 5;
}

.dotted-square {
  opacity: 1;
  width: 23.43vw;
  height: 23.43vw;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
  position: absolute;
  top: 50%;
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  display: block;
  will-change: transform;
}

.dotted-square__link-wrapper {
  transform: translate3d(20px, 0, 0);
}

.experience__btn--wrapper {
  display: none;
}

.dotted-square__link-wrapper button {
  transform: translate(0px, 0px);
  cursor: not-allowed;
  margin-left: 32px;
  color: #a0a4ab;
  align-items: center;
  display: inline-flex;
  font-size: clamp(10px, 2px + 0.625vw, 14px);
  line-height: 1.6;
  letter-spacing: -0.02em;
  border: 0;
  padding: 0;
}

.icon-btn__icon {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.icon-btn__text {
  padding-left: 18px;
  opacity: 0.7;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
}

.icon-btn__icon-inner {
  align-items: center;
  display: inline-flex;
  height: inherit;
  justify-content: center;
  padding: calc(24px * 0.35);
  position: relative;
  transform: rotate(45deg);
  width: inherit;
}

.icon-btn__icon-inner:before {
  content: "";
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 100%;
  border: 1px solid;
}

.icon-btn__icon-inner:after {
  content: "";
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 100%;
  border: 1px dotted;
}

.icon--btn {
  transform: rotate(-45deg);
  height: auto;
  vertical-align: middle;
  max-width: 100%;
  opacity: 0.5;
}

.index-left-link {
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  will-change: transform;
}

.index-right-link {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  will-change: transform;
}

.dotted-square-2 {
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
  width: 23.43vw;
  height: 23.43vw;
  position: absolute;
  top: 50%;
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  display: block;
  will-change: transform;
}

.dotted-square-2:before,
.dotted-square-2:after {
  transform: translate(-50%, -50%);
  transition: all 0.3s cubic-bezier(0.08, 0.5, 0.44, 0.96) calc(0.3s / 2);
  border: inherit;
  content: "";
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  width: inherit;
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.dotted-square-2:before {
  opacity: 0;
  scale: 1.1;
  transform-origin: -10% 20%;
}

.dotted-square-2:after {
  opacity: 0.6;
  scale: 1;
  transform-origin: -10% 20%;
}

.begin-btn:hover > .dotted-square-2:before {
  opacity: 0.3;
  scale: 1.3;
  transition-delay: 0.3s;
}

.begin-btn:hover > .dotted-square-2:after {
  scale: 1.15;
}

/* ------------------------------------------------------------------------------------------------- */

.dotted-square__link-wrapper-2 {
  transform: translate3d(-20px, 0, 0);
}

.dotted-square__link {
  margin-right: 32px;
  color: #1a1b1c;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: clamp(10px, 2px + 0.625vw, 14px);
  line-height: 1.6;
  letter-spacing: -0.02em;
}

.bottom-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 95%;
  width: 100%;
}

.bottom-text {
  max-width: 254px;
  font-size: clamp(10px, 7.5384615385px + 0.6153846154vw, 14px);
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.background-overlay {
  height: 102vh;
  position: fixed;
  width: 100%;
  z-index: -2;
}

.video--wrapper {
  height: 100vh !important;
  width: 100% !important;
}

.glassy_container {
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  background: #ffffff12;
  border: 1px solid #ffffff0f;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  height: 110vh;
  position: fixed;
  width: 100vw;
  z-index: 0;
}

.index-title-wrapper {
  will-change: transform;
  display: block;
  overflow: hidden;
}

.index-title {
  max-width: 100%;
  will-change: transform;
  font-size: clamp(86px, 2px + 6.5625vw, 128px);
  letter-spacing: -0.07em;
  line-height: 0.945;
}

.index-title span {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.video--content {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* ----------------------------- */

.iconButton--content {
  align-items: center;
  display: inline-flex;
  height: inherit;
  justify-content: center;
  padding: calc(24px * 0.35);
  position: relative;
  transform: rotate(45deg);
  width: inherit;
}

.iconButton--content svg {
  height: auto;
  max-width: 100%;
  transform: rotate(15deg);
}

.iconButton-reverse {
  transform: rotate(-45deg) !important;
}

.iconButton--content:before {
  border: 1px solid;
}

.iconButton--content:before,
.iconButton--content:after {
  content: "";
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 100%;
}
.btn-link:hover .iconButton--content:before {
  transform: scale(2);
}

.btn-link:hover .iconButton--content:after {
  transform: scale(1.5385);
}

.btn-link:hover .dotted--square2:after {
  transform: translateX(30px);
}

.btn-link:hover .research--btn {
  opacity: 0 !important;
}

.btn--text,
.btn--text-opposite {
  transition: all 300ms ease;
}

.btn-link:hover .btn--text {
  transform: translateX(-20px);
}

.btn-link:hover .btn--text-opposite {
  transform: translateX(20px);
}

.iconButton--content:after {
  border: 1px dotted;
}

.introduction-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-bottom: 36px;
  width: 100%;
  position: relative;
}

.introduction--square {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

body {
  font-family: "fa2"; /* Ensure to provide a fallback font */
  background-color: white;
  color: #1a1b1c;
  overflow-x: hidden;
  min-height: calc(var(--vh, 1vh) * 100);
  height: 100%;
  left: 0;
  overflow: hidden;
  overflow: clip;
  position: fixed;
  top: 0;
  width: 100%;
}

.font-roobert {
  font-family: "fa" !important;
}

.font-roobert2 {
  font-family: "fa2" !important;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #1a1b1c;
  transform: rotate(-135deg);
  /* Change color as needed */
}

.dynamic--font {
  font-size: clamp(86px, 2px + 6.5625vw, 128px);
}

.dynamic--font2 {
  font-size: clamp(10px, 2px + 0.625vw, 14px);
}

.dynamic--font3 {
  font-size: clamp(10px, 2px + 0.625vw, 14px);
}

.play-icon:before {
  content: "";
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 100%;
  border: 1px solid;
}

.play-icon:after {
  content: "";
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 100%;
  border: 1px dotted;
}

input::placeholder {
  color: gray;
  font-family: fa2;
}

.dotted--square2,
.dotted--square,
.dotted--square2:before,
.dotted--square2:after {
  transform: translate(-50%, -50%) rotate(45deg);
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.dotted--square2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.dotted--square2:before {
  --base-transform: translate(-50%, -50%);
  opacity: 0.6;
  transform: var(--base-transform);
  transition: transform 150ms cubic-bezier(0.08, 0.5, 0.44, 0.96) 150ms;
  border: inherit;
  content: "";
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
}

.dotted--square2:after {
  --base-transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
  transform: var(--base-transform);
  transition: transform 150ms cubic-bezier(0.08, 0.5, 0.44, 0.96),
    opacity 0s ease 150ms;
  border: inherit;
  content: "";
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
}

#name-label {
  transition: all 0.15s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  pointer-events: none;
}

/* ----- */

.dotted-span-square,
.dotted-span-square:after,
.dotted-span-square:before {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

.dotted-span-square:before {
  border: inherit;
  content: "";
  opacity: 0.6;
  height: inherit;
  position: absolute;
  width: inherit;
  animation: BeforeSpin 480s infinite linear;
}

.dotted-span-square:after {
  border: inherit;
  opacity: 0.3;
  content: "";
  height: inherit;
  position: absolute;
  width: inherit;
  transform: scale(1.2);
  animation: AfterSpin 240s infinite linear;
}

.dotted-span-square {
  animation: spin 120s linear infinite;
}

.pop-up:before {
  transform: scaleY(1);
  background-color: #1a1b1c;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  transform-origin: 50% 0;
}

.pop-up:after {
  transform: scaleX(1);
  height: 1px;
  transform-origin: 0 50%;
  background-color: #1a1b1c;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*  --------------  */

.ok__btn--wrapper {
  cursor: pointer;
  border: none;
  background-color: #1a1b1c;
  display: inline-block;
  flex-shrink: 0;
  overflow: clip;
  padding: 8px 16px;
  position: relative;
  text-align: center;
  transition: color 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  font-size: clamp(10px, 2px + 0.625vw, 14px);
  line-height: 1.6;
  letter-spacing: -0.02em;
}

.ok__btn {
  align-items: center;
  display: inline-flex;
  transition: transform 0.3s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  font-family: fa;
}

.ok__btn:after {
  content: "OK";
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) translate3d(0, calc(1.6em + 8px * 2), 0);
  transition: transform 0.3s cubic-bezier(0.08, 0.5, 0.44, 0.96);
  width: 100%;
  z-index: 1;
  font-family: fa;
}

.ok__btn--wrapper:hover .ok__btn {
  transform: translate3d(0, calc(calc(1.6em + 8px * 2) * -1), 0);
}

.toast--container {
  width: 380px !important;
}

.toast {
  background: #fff;
  color: #757575;
  font-size: 14px;
  border-radius: 0 !important;
  border-top: 3px solid #000;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  max-height: 800px;
  min-height: 64px;
  overflow: hidden;
  padding: 8px;
  font-family: fa;
}

.Toastify__toast-body {
  padding: 10px !important;
  justify-content: space-between;
  gap: 8px;
  font-family: fa2 !important;
}

.Toastify__zoom-enter svg {
  fill: black !important;
}

.Toastify__progress-bar--info {
  background-color: #cccccc !important;
}

.Toastify__toast-theme--light {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
}

.Toastify__progress-bar--wrp,
.Toastify__progress-bar {
  border-radius: 0 !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 9999;
}

.preloader-square,
.preloader-square2,
.preloader-square3 {
  background-image: repeating-linear-gradient(
      -18deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      72deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      162deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    ),
    repeating-linear-gradient(
      252deg,
      #58595a,
      #58595a 1px,
      #0000 0,
      #0000 5px,
      #58595a 0
    );
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  transform: rotate(45deg);
  position: absolute;
}

.preloader-square2 {
  scale: 1.1;
  opacity: 0.6;
}

.preloader-square3 {
  scale: 1.2;
  opacity: 0.3;
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes BeforeSpin {
  0% {
    transform: rotate(90deg) scale(1.1);
  }
  to {
    transform: rotate(360deg) scale(1.1);
  }
}

@keyframes AfterSpin {
  0% {
    transform: rotate(90deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

@media (max-width: 1440px) {
  .bottom-grid-container {
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
  }
  .bottom-grid-container > p:last-child {
    display: none;
  }
}

@media (max-width: 1250px) {
  .bottom-grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .bottom-grid-container > p:nth-last-child(2) {
    display: none;
  }

  .dotted-square {
    transform: translate(-50%, -50%) translate(50vw) rotate(45deg);
    height: 42vw;
    width: 42vw;
  }

  .dotted-square-2 {
    transform: translate(50%, -50%) translate(-50vw) rotate(45deg) scale(1.15);
    height: 42vw;
    width: 42vw;
  }
  .dotted-square__link-wrapper,
  .dotted-square__link-wrapper-2 {
    display: none;
  }

  .experience__btn--wrapper {
    display: inline-flex;
    margin-top: 60px;
    transition: opacity .2s ease, visibility .2s ease
  }

  .experience__btn {
    color: #1a1b1c;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    
  }
}

@media (max-width: 1100px) {
  .bottom-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .bottom-grid-container > p:nth-last-child(3) {
    display: none;
  }
}

@media (max-width: 1000px) {
  .index-title {
    font-size: clamp(52px, 2px + 8.5625vw, 128px);
  }
}

@media (max-width: 1024px) {
  #name-label {
    font-size: 34px !important;
  }
  input {
    font-size: 34px !important;
  }
  .dotted-span-square {
    width: 38vw;
    height: 38vw;
  }
}

@media (max-width: 500px) {
  #btn {
    width: 350px !important;
  }
  .dotted-square, .dotted-square-2 {
    width: 90vw !important;
    height: 90vw !important;
  }
}

@media (max-width: 410px) {
  #btn {
    width: 280px !important;
    font-size: 10px !important;
  }
}

@media (max-width: 800px) {
  .bottom-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .bottom-grid-container > p:nth-last-child(4) {
    display: none;
  }

  .dotted-square, .dotted-square-2 {
    width: 60vw;
    height: 60vw;
  }
}

@media (max-width: 700px) {
  .dotted-span-square {
    width: 48vw;
    height: 48vw;
  }
  .dotted-square, .dotted-square-2 {
    width: 50vw;
    height: 50vw;
  }
}

@media (max-width: 600px) {
  .bottom-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .bottom-grid-container > p:nth-last-child(5) {
    display: none;
  }
}
